{
  "parser": "babel-eslint",
  "extends": [
    "eslint-config-airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "node": true
  },
  "rules": {
    "flowtype/no-types-missing-file-annotation": "off",
    "no-confusing-arrow": "off"
  },
  "plugins": [
    "import",
    "flowtype"
  ],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolve": {
      "moduleDirectory": ["node_modules", "src"]
    }
  },
  "globals": {}
}
